<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
<div style="
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin: auto;
    background-color: #ffffff;" align="center">
  <h1 style="color:#1a1a1a" id="quote"><%= quote %></h1>
  <p style="color:#1a1a1a"><%= author %></p>
</div>
</body>
</html>
